* {
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

.container{
    background: rgb(35, 35, 107);
    color: white;
    border: 2px solid rgb(35, 35, 107);
    border-radius: 1.1rem;
    width: 22rem;
   
    height: 27rem;
    margin: 0 auto;
	box-shadow: 0 0 15px #ccc;
	padding: 20px;
    text-align: center;
}
h2{
    margin-top: 1.8rem;
    font-size: 2.3rem;
    
}
p{
    font-size: 1.1rem;
}

label{
    display: block;
   margin-top: 15px;
   margin-bottom: 10px;
   
}
input {
width: 16rem;
padding: 0.7rem;

border-radius: 1.3rem;
background:rgb(35, 35, 107);
}
input[type='date']{
    color: white;
    font-size: 1.2rem;
}
button{
    margin-top: 25px;
    padding: 0.8rem;
   border-radius: 0.8rem;
    background: rgb(134, 208, 24);
font-size: 1.2rem;
color: white;
}
  